{% load compress %}
{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ug Locator | Find your favorite place with ease </title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
    {% endcompress %}
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      {% include "common/navbar.html" %}
        {% block content %}{% endblock content %}
      {% include "common/footer.html" %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>